*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 100%;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.blue-section {
  background-color: #0020F4;
  width: 100%;
  height: 200px;
}

.projects {
  color: #FFFFFF;
  font-family: ALK Rounded Mtav Med;
  padding: 70px;
  font-size: 32px;
}

.white-dot {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #FFFFFF;
  padding: 3px;
  right: 20px;
  position: fixed;
  right: 120px;
  top: 90px;
}

.white-dot-2 {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #FFFFFF;
  padding: 3px;
  right: 20px;
  position: fixed;
  right: 100px;
  top: 90px;
  opacity: 0.5;

}

.white-dot-3{
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #FFFFFF;
  padding: 3px;
  right: 20px;
  position: fixed;
  right: 80px;
  top: 90px;
  opacity: 0.5;
}